<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div ng-controller="controller_blog" class="wrapper">

    <div class="background-home">
<!--         <div class="background-image-wrapper">
            <img class="background-image" src="photos/background-image-port.png">
        </div> -->

        <div class="content-wrapper">
            <h1 class="title-background">Kentex Corporation</h1>
            <h2 class="subtitle-background">Des produits de qualité aux meilleurs prix</h2>
        </div>

    </div>

    <div class="product-block">
        <h1 class="product-title">Nos produits</h1>
        <h2 class="product-subtitle">Nous mettons un point d'honneur à fournir les meilleurs produits et aux prix les plus abordables. Nos fournisseurs européens sont choisis avec soin ce qui nous permet de garantir la qualité de l'offre KENTEX</h2>
        <div class="product-list">
            <div class="product">
                <div class="product-content-wrapper produit-1">
                    <div class="product-content">Tomates</div>
                </div>
            </div>
            <div class="product">
                <div class="product-content-wrapper produit-2">
                    <div class="product-content">Ail</div>
                </div>
            </div>
            <div class="product">
                <div class="product-content-wrapper produit-3">
                    <div class="product-content">Pommes de terre</div>
                </div>
            </div>
            <div class="product">
                <div class="product-content-wrapper produit-4">
                    <div class="product-content">Oignons</div>
                </div>
            </div>
            <div class="product">
                <div class="product-content-wrapper produit-5">
                    <div class="product-content">Pâtes</div>
                </div>
            </div>
            <div class="product">
                <div class="product-content-wrapper produit-6">
                    <div class="product-content">Champignons</div>
                </div>
            </div>
        </div>
    </div>

    <div class="join-us-block">
        <h1 class="join-us-block-title">Rejoignez notre réseau</h1>
        <h2 class="join-us-block-subtitle">Si vous désirez en savoir plus sur notre offre ainsi que les conditions tarifaires n'hésitez pas à nous contacter</h2>
		
        <a class="contact-wrapper" href="mailto:jckonda@kentexcorporation.com">
            <div class="contact-content">CONTACTEZ NOUS</div>
        </a>
    </div>

    <footer class="footer">
        <img class="footer-logo" src="photos/logokentex.png">
        <div class="footer-contact">Contact Us</div>
        <div class="footer-company">Kentex France SAS</div>

    </footer>

</div>
